# Bureaus Files Analysis

* Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

* Read data from files

In [2]:
bureau = pd.read_csv('../data/bureau.csv')
bureau_balance = pd.read_csv('../data/bureau_balance.csv')

* Print the shape of the data

In [3]:
print("Shape of the following data:")
print("Bureau: ", bureau.shape)
print("Bureau balance: ", bureau_balance.shape)

Shape of the following data:
Bureau:  (1716428, 17)
Bureau balance:  (27299925, 3)

* Print the information about the data and datatypes for each file

In [4]:
print("Bureau data:")
bureau.info()

print("")
print("Bureau balance data:")
bureau_balance.info()

Bureau data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int64
 1   SK_ID_BUREAU            int64
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int64
 5   CREDIT_DAY_OVERDUE      int64
 6   DAYS_CREDIT_ENDDATE     float64
 7   DAYS_ENDDATE_FACT       float64
 8   AMT_CREDIT_MAX_OVERDUE  float64
 9   CNT_CREDIT_PROLONG      int64
 10  AMT_CREDIT_SUM          float64
 11  AMT_CREDIT_SUM_DEBT     float64
 12  AMT_CREDIT_SUM_LIMIT    float64
 13  AMT_CREDIT_SUM_OVERDUE  float64
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int64
 16  AMT_ANNUITY             float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

Bureau balance data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   SK_ID_BUREAU    int64
 1   MONTHS_BALANCE  int64
 2   STATUS          object
dtypes: int64(2), object(1)
memory usage: 624.8+ MB

* Print the head for both files, so that we can, what types of data we are, in fact, working with

In [5]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [6]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

* Let's look at the object values, since we would probably like to change them into integer type of data

* First, bureau file:

In [7]:
bureau['CREDIT_ACTIVE'].value_counts()

Closed      1079273
Active       630607
Sold           6527
Bad debt         21
Name: CREDIT_ACTIVE, dtype: int64

In [8]:
bureau['CREDIT_CURRENCY'].value_counts()

currency 1    1715020
currency 2       1224
currency 3        174
currency 4         10
Name: CREDIT_CURRENCY, dtype: int64

In [9]:
bureau['CREDIT_TYPE'].value_counts()

Consumer credit                                 1251615
Credit card                                      402195
Car loan                                          27690
Mortgage                                          18391
Microloan                                         12413
Loan for business development                      1975
Another type of loan                               1017
Unknown type of loan                                555
Loan for working capital replenishment              469
Cash loan (non-earmarked)                            56
Real estate loan                                     27
Loan for the purchase of equipment                   19
Loan for purchase of shares (margin lending)          4
Mobile operator loan                                  1
Interbank credit                                      1
Name: CREDIT_TYPE, dtype: int64

* For the bureau file, we are going to drop CREDIT_CURRENCY and CREDIT_TYPE cols, since they probably don't provide any important information for the analysis, while for the CREDIT_ACTIVE column we can change Active cases into 1, and all other into 0's

In [10]:
#bureau = bureau.drop(['CREDIT_TYPE'], axis=1)
#bureau = bureau.drop(['CREDIT_CURRENCY'], axis=1)

In [11]:
#bureau['CREDIT_ACTIVE'] = bureau['CREDIT_ACTIVE'].replace(to_replace='Active', value=1)
#bureau['CREDIT_ACTIVE'] = bureau['CREDIT_ACTIVE'].replace(to_replace='Closed', value=0)
#bureau['CREDIT_ACTIVE'] = bureau['CREDIT_ACTIVE'].replace(to_replace='Sold', value=0)
#bureau['CREDIT_ACTIVE'] = bureau['CREDIT_ACTIVE'].replace(to_replace='Bad debt', value=0)

* Let's look at the changes

In [12]:
bureau.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int64
 1   SK_ID_BUREAU            int64
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int64
 5   CREDIT_DAY_OVERDUE      int64
 6   DAYS_CREDIT_ENDDATE     float64
 7   DAYS_ENDDATE_FACT       float64
 8   AMT_CREDIT_MAX_OVERDUE  float64
 9   CNT_CREDIT_PROLONG      int64
 10  AMT_CREDIT_SUM          float64
 11  AMT_CREDIT_SUM_DEBT     float64
 12  AMT_CREDIT_SUM_LIMIT    float64
 13  AMT_CREDIT_SUM_OVERDUE  float64
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int64
 16  AMT_ANNUITY             float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

In [13]:
bureau['CREDIT_ACTIVE'].value_counts()

Closed      1079273
Active       630607
Sold           6527
Bad debt         21
Name: CREDIT_ACTIVE, dtype: int64

* Now, it's time to clean up the bureau_balance file

In [14]:
bureau_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   SK_ID_BUREAU    int64
 1   MONTHS_BALANCE  int64
 2   STATUS          object
dtypes: int64(2), object(1)
memory usage: 624.8+ MB

* Let's look at the STATUS field, since it's an object

In [15]:
bureau_balance['STATUS'].value_counts()

C    13646993
0     7499507
X     5810482
1      242347
5       62406
2       23419
3        8924
4        5847
Name: STATUS, dtype: int64

* I don't know, what these things are meant to mean, but it should probably be ok to deal with them by using One Hot Encoding - we will do that in the future

* Let's handle the missing values!

In [16]:
bureau.isnull().sum()

SK_ID_CURR                      0
SK_ID_BUREAU                    0
CREDIT_ACTIVE                   0
CREDIT_CURRENCY                 0
DAYS_CREDIT                     0
CREDIT_DAY_OVERDUE              0
DAYS_CREDIT_ENDDATE        105553
DAYS_ENDDATE_FACT          633653
AMT_CREDIT_MAX_OVERDUE    1124488
CNT_CREDIT_PROLONG              0
AMT_CREDIT_SUM                 13
AMT_CREDIT_SUM_DEBT        257669
AMT_CREDIT_SUM_LIMIT       591780
AMT_CREDIT_SUM_OVERDUE          0
CREDIT_TYPE                     0
DAYS_CREDIT_UPDATE              0
AMT_ANNUITY               1226791
dtype: int64

* I'm going to simply replace the NaN values with zeros

In [17]:
#bureau['DAYS_CREDIT_ENDDATE'].replace(np.nan, 0, inplace=True)
#bureau['DAYS_ENDDATE_FACT'].replace(np.nan, 0, inplace=True)
#bureau['AMT_CREDIT_MAX_OVERDUE'].replace(np.nan, 0, inplace=True)
#bureau['AMT_CREDIT_SUM'].replace(np.nan, 0, inplace=True)
#bureau['AMT_CREDIT_SUM_DEBT'].replace(np.nan, 0, inplace=True)
#bureau['AMT_CREDIT_SUM_LIMIT'].replace(np.nan, 0, inplace=True)
#bureau['AMT_ANNUITY'].replace(np.nan, 0, inplace=True)

from Functions.DataPreperation import fill_missing_values

fill_missing_values(bureau, mean = False)

In [18]:
bureau.isnull().sum()

SK_ID_CURR                0
SK_ID_BUREAU              0
CREDIT_ACTIVE             0
CREDIT_CURRENCY           0
DAYS_CREDIT               0
CREDIT_DAY_OVERDUE        0
DAYS_CREDIT_ENDDATE       0
DAYS_ENDDATE_FACT         0
AMT_CREDIT_MAX_OVERDUE    0
CNT_CREDIT_PROLONG        0
AMT_CREDIT_SUM            0
AMT_CREDIT_SUM_DEBT       0
AMT_CREDIT_SUM_LIMIT      0
AMT_CREDIT_SUM_OVERDUE    0
CREDIT_TYPE               0
DAYS_CREDIT_UPDATE        0
AMT_ANNUITY               0
dtype: int64

* Very nice

* Now, it's time to check bureau_balance!

In [19]:
bureau_balance.isnull().sum()

SK_ID_BUREAU      0
MONTHS_BALANCE    0
STATUS            0
dtype: int64

* No work to be done here!

* Let's check, if there are any duplicates!

In [20]:
duplicates = bureau.duplicated()
print(duplicates.sum())

0

In [21]:
duplicates = bureau_balance.duplicated()
print(duplicates.sum())

0

* There are no duplicates!

* Now, let's look at the possible correlations between these two files and the application_train.csv

In [22]:
app = pd.read_csv('../data/application_train.csv')

In [23]:
app.shape

(307511, 122)

* First, let's analyse the bureau file

In [24]:
bureau['TARGET'] = app['TARGET']

In [25]:
bureau.isnull().sum()

SK_ID_CURR                      0
SK_ID_BUREAU                    0
CREDIT_ACTIVE                   0
CREDIT_CURRENCY                 0
DAYS_CREDIT                     0
CREDIT_DAY_OVERDUE              0
DAYS_CREDIT_ENDDATE             0
DAYS_ENDDATE_FACT               0
AMT_CREDIT_MAX_OVERDUE          0
CNT_CREDIT_PROLONG              0
AMT_CREDIT_SUM                  0
AMT_CREDIT_SUM_DEBT             0
AMT_CREDIT_SUM_LIMIT            0
AMT_CREDIT_SUM_OVERDUE          0
CREDIT_TYPE                     0
DAYS_CREDIT_UPDATE              0
AMT_ANNUITY                     0
TARGET                    1408917
dtype: int64

In [26]:
bureau = bureau[bureau['TARGET'].notna()]

In [27]:
bureau.isnull().sum()

SK_ID_CURR                0
SK_ID_BUREAU              0
CREDIT_ACTIVE             0
CREDIT_CURRENCY           0
DAYS_CREDIT               0
CREDIT_DAY_OVERDUE        0
DAYS_CREDIT_ENDDATE       0
DAYS_ENDDATE_FACT         0
AMT_CREDIT_MAX_OVERDUE    0
CNT_CREDIT_PROLONG        0
AMT_CREDIT_SUM            0
AMT_CREDIT_SUM_DEBT       0
AMT_CREDIT_SUM_LIMIT      0
AMT_CREDIT_SUM_OVERDUE    0
CREDIT_TYPE               0
DAYS_CREDIT_UPDATE        0
AMT_ANNUITY               0
TARGET                    0
dtype: int64

In [28]:
bur_correlations = bureau.corr()['TARGET'].sort_values()

print('Max correlations: \n', bur_correlations.tail(10))
print('Min correlations: \n', bur_correlations.head(10))

Max correlations:
 CNT_CREDIT_PROLONG       -0.000495
AMT_ANNUITY              -0.000261
AMT_CREDIT_MAX_OVERDUE   -0.000214
AMT_CREDIT_SUM            0.000219
DAYS_ENDDATE_FACT         0.001358
DAYS_CREDIT               0.001443
SK_ID_BUREAU              0.001550
DAYS_CREDIT_ENDDATE       0.001995
DAYS_CREDIT_UPDATE        0.002159
TARGET                    1.000000
Name: TARGET, dtype: float64
Min correlations:
 CREDIT_DAY_OVERDUE       -0.001815
AMT_CREDIT_SUM_OVERDUE   -0.001464
SK_ID_CURR               -0.001070
AMT_CREDIT_SUM_DEBT      -0.000980
AMT_CREDIT_SUM_LIMIT     -0.000500
CNT_CREDIT_PROLONG       -0.000495
AMT_ANNUITY              -0.000261
AMT_CREDIT_MAX_OVERDUE   -0.000214
AMT_CREDIT_SUM            0.000219
DAYS_ENDDATE_FACT         0.001358
Name: TARGET, dtype: float64

* The correlations are bad

* Now, let's look at the bureau_balance

In [29]:
bureau_balance['TARGET'] = app['TARGET']

In [30]:
bureau_balance.isnull().sum()

SK_ID_BUREAU             0
MONTHS_BALANCE           0
STATUS                   0
TARGET            26992414
dtype: int64

In [31]:
bureau_balance = bureau_balance[bureau_balance['TARGET'].notna()]

In [32]:
bureau_balance.isnull().sum()

SK_ID_BUREAU      0
MONTHS_BALANCE    0
STATUS            0
TARGET            0
dtype: int64

In [34]:
bur_bal_correlations = bureau_balance.corr()['TARGET'].sort_values()

print('Max correlations: \n', bur_bal_correlations.tail(10))
print('Min correlations: \n', bur_bal_correlations.head(10))

ValueError: DataFrame constructor not properly called!

* Here, the correlations are really bad as well!

# Conclusion

* When it comes to both files, the correlations are really low, the files in current state are useless for the further analysis, and can make more harm than good to our model

* What may be good to do is to implement One Hot Encoding for bureau_balance, and maybe try to join both files, as well as try different type of feature engineering, drop some columns which seem to be useless, and try to fill the NaN values with median instead

In [ ]:
from Functions.FeatureEngineering import *

bureau_numeric = group_numeric_values(bureau, 'bureau')
bureau_object = group_object_values(bureau, 'bureau')
bureau_balance_numeric = group_numeric_values(bureau_balance, 'bureau_balance', 'SK_ID_BUREAU')
bureau_balance_object = group_object_values(bureau_balance, 'bureau_balance', 'SK_ID_BUREAU')

In [ ]:
bureau_numeric.head(5)

In [ ]:
bureau_object.head(5)

In [ ]:
bureau_balance_numeric.head(5)

In [ ]:
bureau_balance_object.head(5)

In [ ]:
bureau_curr = bureau_numeric.merge(bureau_object, on = 'SK_ID_CURR', how = 'left')

In [ ]:
bureau_curr.shape

In [ ]:
bureau_curr.head(5)

In [ ]:
test = pd.read_csv('./train.csv')

test = test.merge(bureau_curr, on = 'SK_ID_CURR', how = 'left')

In [ ]:
test.shape

In [ ]:
test.head(5)

In [ ]:
corrs = test.corr()
corrs = corrs.sort_values('TARGET', ascending = False)

pd.DataFrame(corrs['TARGET'].head(10))

In [ ]:
print(data_correlation(test, bureau_curr).head(10))