# Random Forest Model

## Importing needed modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Getting the data

In [4]:
data = pd.read_csv("/Users/michael/Documents/GitHub/Home_Credit_Default_Risk_Project/train.csv")

## Quick look at the data

In [5]:
data.head()

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,306497,455105,0,0,0,0,0,270000.0,2463840.0,77494.5,...,0,0,0,0,0,0,1,0,1,0
1,28810,133475,0,0,1,1,0,675000.0,1014790.5,56794.5,...,0,0,0,0,0,1,0,0,1,0
2,89690,204132,0,0,0,1,0,130500.0,765261.0,32553.0,...,0,0,0,0,0,1,0,0,1,0
3,155228,279943,0,0,1,1,0,270000.0,364896.0,22180.5,...,0,0,0,0,0,1,0,0,1,0
4,259906,400766,0,0,1,1,1,112500.0,659610.0,21406.5,...,0,0,0,0,0,1,0,0,1,0

## Create features

In [4]:
data.columns.drop('Unnamed: 0')
# usunac ta kolumne trzeba, ale potem

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'HOUSETYPE_MODE_terraced house', 'WALLSMATERIAL_MODE_Block',
       'WALLSMATERIAL_MODE_Mixed', 'WALLSMATERIAL_MODE_Monolithic',
       'WALLSMATERIAL_MODE_Others', 'WALLSMATERIAL_MODE_Panel',
       'WALLSMATERIAL_MODE_Stone, brick', 'WALLSMATERIAL_MODE_Wooden',
       'EMERGENCYSTATE_MODE_No', 'EMERGENCYSTATE_MODE_Yes'],
      dtype='object', length=243)

In [5]:
data.shape

(246008, 244)

## Import modules for random forest

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import preprocessing

In [7]:
rf = RandomForestClassifier(n_estimators=500,
                          max_depth=10,
                          min_samples_split=20,
                          min_samples_leaf=6,
                          max_features='auto')
data_copy = data.copy()
data = data.drop(columns="TARGET")
features = data.columns.tolist()
rf.fit(X = data[features], y = data_copy['TARGET'])

RandomForestClassifier(max_depth=10, min_samples_leaf=6, min_samples_split=20,
                       n_estimators=500)

In [8]:
#preds = rf.predict(data[features].values)

# Copyrights: MichaÅ‚ Lemiec sp. Z.O.O.

test_data = pd.read_csv("./test.csv")

test_copy = test_data.copy()

test_data=test_data.drop(columns="TARGET")

ran_for_pred = rf.predict_proba(test_data)[:, 1]

from sklearn.metrics import roc_auc_score
print('Train/Test split results:')
#print(logreg.__class__.__name__+" accuracy is %2.3f" % accuracy_score(Y_test, Y_pred))
print("ROC",  roc_auc_score(test_copy["TARGET"], ran_for_pred))

#print("Mean squared error: %.2f" % mean_squared_error(data['TARGET'].values, preds))
#print("R2 score: %.2f" % r2_score(data['TARGET'].values, preds))

Train/Test split results:
ROC 0.7296960921314657